@page
@model DeleteCustomerModel
@{
    ViewData["Title"] = "Delete Customer";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #212529; /* Dark background color */
            color: #fff; /* White text color */
            margin: 0;

            padding: 0;
            height: 65vh;
            
            background-image: url(https://image.winudf.com/v2/image/Y29tLlJlY292ZXIuZGVsZXRlZC5waWN0dXJlcy5hcHBfc2NyZWVuXzBfMTUwNjcyMjAxMF8wMTM/screen-0.jpg?h=500&fakeurl=1&type=.jpg);
            background-size: cover;
            background-position: 100%;
            background-repeat: no-repeat;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .form-container {
            max-width: 400px;
            background-color: #343a40; /* Darker background color */
            border-radius: 8px;
            padding: 30px;
            box-shadow: 0px 0px 20px 0px rgba(251, 249, 249, 0.1); /* White shadow */
        }

        .form-container h1 {
            margin-bottom: 20px;
            color: #fff; /* White text color */
        }

        .btn-container {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }

        .btn {
            margin-right: 10px;
        }

        .btn-danger {
            background-color: #dc3545; /* Red button color */
            border-color: #dc3545;
        }

        .btn-danger:hover {
            background-color: #c82333; /* Darker red on hover */
            border-color: #c82333;
        }

        .btn-secondary {
            background-color: #6c757d; /* Gray button color */
            border-color: #6c757d;
        }

        .btn-secondary:hover {
            background-color: #5a6268; /* Darker gray on hover */
            border-color: #5a6268;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1 class="text-center">@ViewData["Title"]</h1>

            <form method="post">
                <input type="hidden" asp-for="Id" />
                <p class="text-center">Are you sure you want to delete this Customer?</p>
                <div class="btn-container">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a asp-page="/Customer/GetCustomers" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
