@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body
    {
            background-image: url(https://gas-kvas.com/uploads/posts/2023-02/1675465845_gas-kvas-com-p-fonovie-risunki-kompyuter-dlya-rabochego-27.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    }
    .display-4:hover
    {
        color: white;
        font-size: 130px;
        transition: 2s;
        font-family: sans-serif;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
